/*見出し*/
h1{
    color: aqua;
}

/*tab写真*/
.box{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .box::after{
    content: 'コンテンツ内容';
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  #box1{
    background-image:url(./honntou1.jpg);
  }
  #box2{
    background-color: rgb(150, 121, 204);
  }
  #box3{
    background-color: rgb(64, 224, 131);
  }
  #box4{
    
  }
  #box5{
    background-color: rgb(150, 121, 204);
  }
  #box6{
    background-color: rgb(64, 224, 131);
  }

/* island-menu */
.island-menu dt{
  margin: 0 auto;
  width: 120px;
  line-height: 40px;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
}
.island-menu dd{
  display: none;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  width: 120px;
  line-height: 40px;
  text-align: center;
  color: black;
  cursor: pointer;
}