/*見出し*/

h1{
    font-size: 50px;
    text-align: center;
    letter-spacing: 0.3em;
    color: aqua;
    font-family: 'Space Grotesk', sans-serif;
}

/*tab写真*/
.tab-list{
    display: flex;
    list-style:none;
  }
  
  .tab-list li{
    padding: 10px;
    background-color: greenyellow;
    border: solid 1px #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .tab-list li:hover{
    opacity: 0.7;
    cursor: pointer;
  }
  
  .container{
    width: 100%;
    height: 600px;
    position: relative;
  }
  
  .box{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .box::after{
    content: 'コンテンツ内容';
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  #box1{
    background-color: turquoise;
  }
  #box2{
    background-color: rgb(150, 121, 204);
  }
  #box3{
    background-color: rgb(64, 224, 131);
  }
  
  .current{
    z-index: 1;
    opacity: 1;
  }

/* island-menu */
.island-menu dt{
  margin: 0 auto;
  width: 120px;
  line-height: 40px;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
}
.island-menu dd{
  display: none;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  width: 120px;
  line-height: 40px;
  text-align: center;
  color: black;
  cursor: pointer;
}